body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #d1c1da;
}

h1 {
    font-size: 100px;
    text-align: center;
    color: #504357;
    font-family: 'Kristen ITC', cursive;
}

.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    width: 1000px;
    margin: 50px;
}

.container input[type="text"] {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    min-width: 100px;
    margin-bottom: 10px;
    height: 50px;
    font-family: 'Kristen ITC', cursive;
    font-size: 20px;
    color: #504357;
    background-color: #d1c1da;
}

.button-home1 {
    display: block;
    height: 75px;
    width: 200px;
}
.button-home2 {
    display: block;
    height: 75px;
    width: 200px;
}
.button-home3 {
    display: block;
    height: 75px;
    width: 200px;
}
.button-home4 {
    display: block;
    height: 75px;
    width: 200px;
}
.backButton {
    bottom: 20px;
    background-color: #c1d6da;
}
.dreamButton {
    bottom: 20px;
    background-color: #dab3c4;
}

canvas {
    display: block;
}

.toolbar {
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #504357;
}

.toolbar button {
    margin: 5px;
}

img { 
    width: 50px;
    height: 50px;
}

.imgmain {
    width: 200px;
    height: 200px;
}

.image-panel {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-auto-rows: 50px;
    gap: 10px;
    margin-top: 152px;
    margin-left: 13px;
    position: absolute;
    top: 150px;
    left: 0;
    width: 158px;
    height: 375px;
    padding: 10px;
    background-color: #ded6ea;
    border: 1px solid #ccc;
}

.image-panel img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {display: block;}
  